<h1>Projects</h1>
<p>This is the Projects.</p>
<!-- projects.ejs -->
<!-- Renee Vera Student # 301345205 10/03/2023-->
<div class="row">
    <!-- Proyecto 1 -->
    <div class="col-sm-4">
      <div class="card">
        <img src="/images/fuel.png" class="card-img-top" alt="Project 1">
        <div class="card-body">
          <h5 class="card-title">Automated Fuel Control System</h5>
          <p class="card-text">for Fishing Vessels.</p>
          <!-- Botón para abrir el modal del Proyecto 1 -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#project1Modal">
          More Info.
          </button>
        </div>
      </div>
    </div>
  
    <!-- Modal para el Proyecto 1 -->
    <div class="modal fade" id="project1Modal" tabindex="-1" aria-labelledby="project1ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="project1ModalLabel">Fuel Control System</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          It is a technological solution that enables 24/7 real-time monitoring of fuel loading and consumption on open-sea fishing vessels. Monitoring can be conducted both from the vessel and from the shore
          <a href="/files/fuel.pdf" class="btn btn-primary" target="_blank"> 
          More info
          </a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Proyecto 2 -->
    <div class="col-sm-4">
      <div class="card">
        <img src="/images/custo.png" class="card-img-top" alt="Project 2">
        <div class="card-body">
          <h5 class="card-title">ERP ODOO</h5>
          <p class="card-text">Odoo implementation and customization.</p>
          <!-- Botón para abrir el modal del Proyecto 2 -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#project2Modal">
            More Info.
          </button>
        </div>
      </div>
    </div>
  
    <!-- Modal para el Proyecto 2 -->
    <div class="modal fade" id="project2Modal" tabindex="-1" aria-labelledby="project2ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="project2ModalLabel">ERP ODOO</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Introducing our premier Odoo implementation and customization service tailored for businesses! Whether you're a startup or an established enterprise, our team of experts will work closely with you to adapt Odoo's powerful suite of applications to fit your unique needs. From initial setup to fine-tuning, we ensure a seamless integration that drives efficiency and growth for your operations. Experience the power of a system truly aligned with your business goals.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Proyecto 3 -->
    <div class="col-sm-4">
      <div class="card">
        <img src="/images/acua.png" class="card-img-top" alt="Project 3">
        <div class="card-body">
          <h5 class="card-title">Automatic Shrimp feeder system</h5>
          <p class="card-text">Solar Powered & IA Based Shrimp Feeding</p>
          <!-- Botón para abrir el modal del Proyecto 3 -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#project3Modal">
            More Info.
          </button>
        </div>
      </div>
    </div>
  
    <!-- Modal para el Proyecto 3 -->
    <div class="modal fade" id="project3Modal" tabindex="-1" aria-labelledby="project3ModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="project3ModalLabel">IA Based Shrimp Feeding System</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            PROJECT IN DEVELOPMENT: feeders outfitted with IoT sensors and object recognition algorithms, we aim to reduce uneaten feed by 10% and decrease mortality rates. This automation of the feeding process is designed not only to enhance efficiency but also to substantially reduce costs associated with pelletized shrimp feed, which currently represents around 50% of the total production cost.
          <a href="/files/shrimp.pdf" class="btn btn-primary" target="_blank"> 
          More info
          </a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer') %>
  
  