<h1>Services</h1>
<!-- services.ejs -->
<!-- Renee Vera Student # 301345205 10/03/2023-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Services</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Service 1: ERP Odoo Implementation -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/odoo.png" class="card-img-top" alt="ERP Odoo Implementation">
                    <div class="card-body">
                        <h5 class="card-title">ERP Odoo Implementation</h5>
                        <p class="card-text">As Odoo partner, we implement and customize the software based on the needs of each client.</p>
                        <!-- External Link for More Information -->
                        <a href="https://excelcallsa.com/" target="_blank" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Service 2: Solution for the Aquaculture Industry -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/shrimp.png" class="card-img-top" alt="Solution for the Aquaculture Industry">
                    <div class="card-body">
                        <h5 class="card-title">Solution for the Aquaculture Industry</h5>
                        <p class="card-text">Solutions for automation and monitoring of shrimp farming pools.</p>
                        <!-- External Link for More Information -->
                        <a href="https://www.ioacua.com/" target="_blank" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Service 3: Solution for the Entertainment Industry -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/images/soccer.png" class="card-img-top" alt="Solution for the Entertainment Industry">
                    <div class="card-body">
                        <h5 class="card-title">Solution for the Entertainment Industry</h5>
                        <p class="card-text">Innovative solutions for the entertainment industry.</p>
                        <!-- External Link for More Information -->
                        <a href="/" target="_blank" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Service 4: Automatization -->
            <div class="col-md-4 mb-4 mx-auto">
                <div class="card">
                    <img src="/images/tuna.png" class="card-img-top" alt="Automatization">
                    <div class="card-body">
                        <h5 class="card-title">Automatization</h5>
                        <p class="card-text">Enhancing operations with advanced automatization.</p>
                        <!-- External Link for More Information -->
                        <a href="https://iotmetrica.com/" target="_blank" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Including Bootstrap JS for additional functionalities like modals and tooltips -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<%- include('footer') %>
</body>
</html>
